src/main/mule/sequential_send_data.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7f4a45cf-d2a3-4d87-8988-5ecd1959f1b2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sequential_send_dataFlow" doc:id="a02a2dde-5650-4c3e-90ea-74f0066ea1f3" >
		<http:listener doc:name="Listener" doc:id="633cb015-31ee-4c2d-a0a4-f1475e86861c" config-ref="HTTP_Listener_config" path="sqsendData"/>
		<set-variable value="#[payload]" doc:name="Set Payload" doc:id="fac3aa09-ab5b-4308-baec-5593f2b4bce4" variableName="data"/>
		<ee:transform doc:name="to CSV" doc:id="fab1831c-c30a-42f4-9260-dcd9aa20cc38">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv header = false
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write To CSV" doc:id="c8dd86e2-d0d7-4e0b-a7e0-5abf1222664d" path="E:\Mulesamples\sq_Sent_Data.csv" mode="APPEND"/>
		<ee:transform doc:name="To Json" doc:id="5cd0d700-404f-40dd-affa-9ca72c70e429" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.data]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write to JSON" doc:id="1217cf8f-ba20-4744-92f4-ce8e073f0514" path="E:\Mulesamples\sq_sent_data.json"/>
		<logger level="INFO" doc:name="Logger" doc:id="7dd036f3-e488-4bdc-9bcd-9f5d47b5919c" message="Data sent Successfully !"/>
		<ee:transform doc:name="Postman Output" doc:id="b7c9d05a-2427-40de-a65f-152026863fa6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'message' : 'Data Sent Successfully!!',
	'Code' : 200
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
